body {
    font-family: sans-serif;
    margin: 30px;
}

input {
    margin: 0;
}

input:disabled, button:disabled {
    cursor: not-allowed;
}

form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

form div {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

form > div {
    gap: 25px;
}

form > div > div {
    gap: 5px;
}

form div#patron_dibujo canvas {
    border: solid 3px gray;
    padding: 5px;
}

hr {
    margin: .5em 0;
}

#patrones {
    display: flex;
    overflow-x: auto;
    max-height: 50vh;
    margin: 10px;
    border: solid 2px gray;
}

#patrones p {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    padding: .5em 15px;
    border: solid 1px gray;
    min-width: 7vw;
}

#patrones p span.salto {
    text-decoration: line-through;
    text-decoration-color: red;
}

#patrones p span.motivo {
    color: gray;
    display: inline-flex;
    align-items: end;
}

@media(orientation: portrait) {
    div.tipogrp {
        flex-direction: column;
    }

    div.tipogrp > div.separador {
        display: none;
    }

    #patrones p {
        min-width: 30vw;
    }
}