body {
    font-family: sans-serif;
    margin: 30px;
}

button:disabled {
    cursor: not-allowed;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

form > div {
    gap: 25px;
}

hr {
    margin: .5em 0;
}

#patrones {
    overflow-x: auto;
    max-height: 50vh;
    margin: 10px;
    border: solid 2px gray;
}

#patrones p {
    display: flex;
    gap: 10px;
    margin: 0;
    padding: .5em 15px;
    border-bottom: solid 1px gray;
    border-top: solid 1px gray;
}

#patrones p span.motivo {
    color: gray;
}

@media(orientation: portrait) {
    div.tipogrp {
        flex-direction: column;
    }

    div.tipogrp > div.separador {
        display: none;
    }
}